<div class="panel panel-info" es-loading="detailsProjectMember.ds.loadState == 2">
    <div class="panel-heading">
        <h3 class="panel-title es-title"><span class="fa fa-list-alt"></span> {{'Details'| translate }}</h3>
    </div>
    <div class="panel-body">
        <form name="ProjectMemberForm" novalidate>
            <input type="hidden" ng-model="detailsProjectMember.ds.$data.projectMemberID" />

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'title'| translate"></label>
                <span class="form-control" ng-bind="detailsProjectMember.ds.$data.title"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>



            <div class="form-group col-md-4">
                <label for="reginalPowerCorpRef" class="control-label required-label">{{'reginalPowerCorpRef'| translate }}</label>
                <es-datasource name="esDropdown.x" autoload="true" method="GET" url='/ReginalPowerCorp/Get_Lov' params=""></es-datasource>
                <es-dropdown ng-model="detailsProjectMember.ds.$data.reginalPowerCorpRef"
                             datasource="esDropdown.x"
                             selected-display-name="['name']"
                             display-column-names="['name']"
                             value-member="id"
                             placeholder="انتخاب کنید"
                             ng-disabled="true">
                </es-dropdown>
                <div ng-messages="ProjectMemberForm.reginalPowerCorpRef.$error" ng-if="ProjectMemberForm.reginalPowerCorpRef.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>



            <div class="form-group col-md-4">
                <label for="projectTreeRef" class="control-label required-label">{{'serviceTreeRef'| translate }}</label>
                <es-datasource name="esDropdown.ServiceTreeRef1" autoload="true" method="GET" url='/ServiceTree/Get_Lov' params=""></es-datasource>
                <es-dropdown ng-model="detailsProjectMember.ds.$data.serviceTreeRef"
                             datasource="esDropdown.ServiceTreeRef1"
                             selected-display-name="['name']"
                             display-column-names="['name']"
                             value-member="id"
                             placeholder="انتخاب کنید"
                             ng-disabled="true">
                </es-dropdown>
                <div ng-messages="ProjectMemberForm.ServiceTreeRef.$error" ng-if="ProjectMemberForm.ServiceTreeRef.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>




            <div class="form-group col-md-4">
                <label for="projectInfoRef" class="control-label required-label">{{'projectInfoRef'| translate }}</label>
                <es-datasource name="esDropdown.ProjectInfoRef1" autoload="true" method="GET" url='/ProjectInfo/Get_Lov' params=""></es-datasource>
                <es-dropdown ng-model="detailsProjectMember.ds.$data.projectInfoRef"
                             datasource="esDropdown.ProjectInfoRef1"
                             selected-display-name="['name']"
                             display-column-names="['name']"
                             value-member="id"
                             placeholder="انتخاب کنید"
                             ng-disabled="true">
                </es-dropdown>
                <div ng-messages="ProjectMemberForm.ProjectInfoRef.$error" ng-if="ProjectMemberForm.ProjectInfoRef.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label for="PersoneRef" class="control-label required-label">{{'personeRef'| translate }}</label>
                <es-datasource name="esDropdown.PersoneRef1" autoload="true" method="GET" url='/Person/Get_Lov' params=""></es-datasource>
                <es-dropdown ng-model="detailsProjectMember.ds.$data.personeRef"
                             datasource="esDropdown.PersoneRef1"
                             selected-display-name="['name']"
                             display-column-names="['name']"
                             value-member="id"
                             placeholder="انتخاب کنید"
                             ng-disabled="true">
                </es-dropdown>
                <div ng-messages="ProjectMemberForm.PersoneRef.$error" ng-if="detailsProjectMember.ds.$data.PersoneRef.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label for="RoleOrgsRef" class="control-label required-label">{{'roleOrgsRef'| translate }}</label>
                <es-datasource name="esDropdown.RoleOrgsRef1" autoload="true" method="GET" url='/RoleOrg/Get_Lov' params=""></es-datasource>
                <es-dropdown ng-model="detailsProjectMember.ds.$data.roleOrgsRef"
                             datasource="esDropdown.RoleOrgsRef1"
                             selected-display-name="['name']"
                             display-column-names="['name']"
                             value-member="id"
                             placeholder="انتخاب کنید"
                             ng-disabled="true">
                </es-dropdown>
                <div ng-messages="ProjectMemberForm.projectTreeRef.$error" ng-if="ProjectMemberForm.projectTreeRef.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>


            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'Description'| translate"></label>
                <span class="form-control" ng-bind="detailsProjectMember.ds.$data.description"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>



        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" ui-sref="ServiceTree.List( { projectInfoId:GprojectInfoId, projectId: GprojectId, serviceTreeTempId: GserviceTreeTempId })">
            <i class="fa fa-times-circle"></i>
            <span class="padding-right-3" ng-bind="'Cancel'| translate"></span>
        </button>
    </div>
</div>



