<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title es-title"><span class="fa fa-close"></span>{{'Edit'| translate }}</h3>
    </div>
    <div class="panel-body">
        <form name="PersonForm" method="post">
            <div es-ng-validationsummary="errors">
            </div>
            <input type="hidden" ng-model="delete.ds.$data.personId" />

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'firstName'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.firstName"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>


            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'lastName'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.lastName"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'nationalID'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.nationalID"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>


            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'mobileNo'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.mobileNo"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'tel'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.tel"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'fatherName'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.fatherName"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>


            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'idNumber'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.idNumber"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'email'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.email"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'address'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.address"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>



            <div class="form-group col-md-4">
                <label for="EducationLevelRef" class="control-label required-label">{{'educationLevelRef'| translate }}</label>
                <es-datasource name="esDropdown.x" autoload="true" method="GET" url='/EducationalLevel/Get_Lov' params=""></es-datasource>
                <es-dropdown ng-model="delete.ds.$data.educationLevelRef"
                             datasource="esDropdown.x"
                             selected-display-name="['name']"
                             display-column-names="['name']"
                             value-member="id"
                             placeholder="انتخاب کنید"
                             ng-disabled="true">
                </es-dropdown>
                <div ng-messages="PersonFormForm.reginalPowerCorpRef.$error" ng-if="PersonFormForm.reginalPowerCorpRef.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>


            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'description'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.description"></span>
            </div>



            <div class="clearfix"></div>
            <p class="text-danger" ng-bind="'DeleteComfirmation'| translate"></p>
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary"
                es-ng-post
                post-object="delete.ds.$data"
                es-ng-post-form-name="PersonForm"
                es-ng-post-validation-object="errors"
                es-ng-post-disable-object="PersonForm.$invalid"
                es-ng-post-url="/Person/Delete"
                es-ng-post-success="root.success()"
                es-ng-post-error="root.error()">
            <i class="fa fa-check-circle"></i>
            <span class="padding-right-3" ng-bind="'Ok'| translate"></span>
        </button>
        <button class="btn btn-default" ui-sref="Person.List">
            <i class="fa fa-times-circle"></i>
            <span class="padding-right-3" ng-bind="'Cancel'| translate"></span>
        </button>
    </div>
</div>