@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation" style="overflow:auto">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/"><i class="fa fa-dashboard fa-fw"></i> صفحه اصلی</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>  منوی اصلی<span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                    <li>
                        <a href="/ReginalPowerCorp">شرکت های برق منطقه ای</a>
                    </li>
                    <li>
                        <a href="/EducationalLevel">مقاطع تحصیلی</a>
                    </li>
                    <li>
                        <a href="/RoleOrg">نقش های سازمانی</a>
                    </li>
                    <li>
                        <a href="/Person">افراد</a>
                    </li>
                    <li>
                        <a href="/ExternalOrgType">انواع سازمانهای خارجی</a>
                    </li>
                    <li>
                        <a href="/ExternalOrganization"> سازمانهای خارجی</a>
                    </li>
                    <li>
                        <a href="/OUTree">درختواره واحد های سازمانی</a>
                    </li>
                    <li>
                        <a href="/ProjectTree">درختواره پروژه های سازمان</a>
                    </li>
                    @*<li>
                        <a href="/ServiceTree"> خدمات پروژه</a>
                    </li>*@
                    
                    <li>
                        <a href="/ContractInfo">اطلاعات قراردادها</a>
                    </li>

                    <li>
                        <a href="/ProjectInfo">اطلاعات پروژه ها</a>
                    </li>

                    <li>
                        <a href="/EvaluationFactorTree">معیارهای ارزیابی</a>
                    </li>

                    <li>
                        <a href="/EvaluationPeriod">دوره های ارزیابی</a>
                    </li>

                    <li>
                        <a href="/EvaluationProject">پروژه های مورد ارزیابی</a>
                    </li>


                    <li>
                        <a href="/EVFormTemplate">قالب فرم ارزیابی </a>
                    </li>


                    <li>
                        <a href="/EVForm">فرم ارزیابی</a>
                    </li>
                </ul>
               
                <!-- /.nav-second-level -->
            </li>
            @*<li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> منوی سه سطحی<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">سطح دو</a>
                    </li>
                    <li>
                        <a href="#">سطح دو</a>
                    </li>
                    <li>
                        <a href="#">سطح دو <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">سطح سه</a>
                            </li>
                            <li>
                                <a href="#">سطح سه</a>
                            </li>
                            <li>
                                <a href="#">سطح سه</a>
                            </li>
                            <li>
                                <a href="#">سطح سه</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>*@

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->