[dir=rtl] {
  margin-left: 5px; }

.es-btn-margin {
  margin-right: 5px; }

.btn {
  border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }
