<div class="panel panel-primary esAffix" es-loading="edit.ds.loadState == 2">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-pencil"></span>{{'Edit'| translate }}</h3>
    </div>
    <div class="panel-body" style="position:relative">
        <form name="productNavigationForm" novalidate>
            <div es-ng-validationsummary="errors">
            </div>
            <input type="hidden" ng-model="edit.ds.$data.id" />
            <div class="form-group col-md-4">
                <label for="name" class="control-label required-label" ng-bind="'Name'| translate"></label>
                <input name="name" ng-model="edit.ds.$data.name" class="form-control" placeholder="{{'Name'| translate}}" required>
                <div ng-messages="productNavigationForm.name.$error" ng-if="productNavigationForm.name.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-lg-block"></div>
            <div class="form-group col-md-4">
                <label for="description" class="control-label required-label" ng-bind="'Description'| translate"></label>
                <input name="description" ng-model="edit.ds.$data.description" class="form-control" placeholder="{{'Description' | translate}}" required>
                <div ng-messages="productNavigationForm.description.$error" ng-if="productNavigationForm.description.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary"
                btn-icon="fa fa-pencil"
                es-ng-post
                post-object="edit.ds.$data"
                es-ng-post-form-name="productNavigationForm"
                es-ng-post-validation-object="errors"
                es-ng-post-disable-object="productNavigationForm.$invalid"
                es-ng-post-url="/ProductNavigation/Edit"
                es-ng-post-success="root.success()"
                es-ng-post-error="root.error()">
            <i class="fa fa-pencil"></i>
            <span class="padding-right-3" ng-bind="'Ok'| translate"></span>
        </button>
        <button class="btn btn-default" ui-sref="ProductNavigation.List">
            <i class="fa fa-times-circle"></i>
            <span class="padding-right-3" ng-bind="'Cancel'| translate"></span>
        </button>
    </div>
</div>
