@media (min-width: 768px) {
  .navbar-right {
    float: left !important;
    margin-right: -15px; } }

#page-wrapper {
  margin-top: 50px;
  padding: 20px; }

.navbar {
  background-color: #2b3643; }
  .navbar .navbar-brand, .navbar navbar-brand:hover {
    color: #ccc !important; }
  .navbar .navbar-header {
    margin-top: 5px;
    margin-right: 20px; }
  .navbar .navbar-top-links .dropdown .dropdown-toggle {
    color: #ccc; }
  .navbar .navbar-top-links .dropdown .dropdown-toggle:hover {
    background-color: #3f4f62; }

.sidebar {
  background-color: #364150; }
  .sidebar ul li {
    border-bottom-color: #4a4e54 !important; }
    .sidebar ul li a {
      color: #ccc; }
  .sidebar .nav > li > a:hover {
    text-decoration: none;
    background-color: #4f565f; }
  .sidebar ul li a {
    background-color: #364150; }
  .sidebar ul li a.active {
    background-color: #364150; }
  .sidebar ul li a:focus {
    background-color: #921818; }
  .sidebar ul.nav-second-level {
    background-color: #3e4b5c !important; }
    .sidebar ul.nav-second-level li {
      border-bottom-color: #4a4e54 !important; }

@media (min-width: 768px) {
  .sidebar {
    margin-top: 50px;
    min-height: 100vh; } }

@media (max-width: 768px) {
  #page-wrapper {
    margin-top: 100px; } }
