<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-plus"></span>{{'Create'| translate }}</h3>
    </div>
    <div class="panel-body">
        <form name="ContractInfo" novalidate>
            <div es-validationsummary="errors">
            </div>
            <div class="form-group col-md-4">
                <label for="title" class="control-label required-label">{{'title'| translate }}</label>
                <input name="title" ng-model="create.entity.title" class="form-control" placeholder="{{'title'| translate}}" required>
                <div ng-messages="ContractInfo.title.$error" ng-if="ContractInfo.title.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>


            <div class="form-group col-md-4">
                <label for="code" class="control-label required-label">{{'contractNo'| translate }}</label>
                <input name="code" ng-model="create.entity.contractNo" class="form-control" placeholder="{{'contractNo'| translate}}" required>
                <div ng-messages="ContractInfo.contractNo.$error" ng-if="ContractInfo.contractNo.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>




            <div class="form-group col-md-4">
                <label class="control-label required-label">{{'projectTreeRef'| translate }}</label>
                <es-datasource name="esDropdown.projectTreeRef" autoload="true" method="GET" url='/ProjectTree/Get_Lov' params=""></es-datasource>
                <es-dropdown ng-model="create.entity.projectTreeRef"
                             datasource="esDropdown.projectTreeRef"
                             selected-display-name="['name']"
                             display-column-names="['name']"
                             value-member="id"
                             placeholder="انتخاب کنید">
                </es-dropdown>
                <div ng-messages="ContractInfo.projectTreeRef.$error" ng-if="ContractInfo.projectTreeRef.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label required-label">{{'reginalPowerCorpRef'| translate }}</label>
                <es-datasource name="esDropdown.x" autoload="true" method="GET" url='/ReginalPowerCorp/Get_Lov' params=""></es-datasource>
                <es-dropdown ng-model="create.entity.reginalPowerCorpRef"
                             datasource="esDropdown.x"
                             selected-display-name="['name']"
                             display-column-names="['name']"
                             value-member="id"
                             placeholder="انتخاب کنید">
                </es-dropdown>
                <div ng-messages="ContractInfo.reginalPowerCorpRef.$error" ng-if="ContractInfo.reginalPowerCorpRef.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label for="description" class="control-label required-label" ng-bind="'description'| translate"></label>
                <input name="description" ng-model="create.entity.description" class="form-control" placeholder="{{'description'| translate}}" >
                <div ng-messages="ContractInfo.description.$error" ng-if="ContractInfo.description.$dirty">
                    <span class="text-danger" ng-message="required" ng-bind="'RequiredWarning'| translate"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary"
                es-ng-post
                post-object="create.entity"
                es-ng-post-form-name="ContractInfo"
                es-ng-post-validation-object="errors"
                es-ng-post-disable-object="ContractInfo.$invalid"
                es-ng-post-url="/ContractInfo/Create"
                es-ng-post-success="root.success()"
                es-ng-post-error="root.error()">
            <i class="fa fa-check-circle"></i>
            <span class="padding-right-3" ng-bind="'Ok'| translate"></span>
        </button>
        <button class="btn btn-default" ui-sref="ContractInfo.List">
            <i class="fa fa-times-circle"></i>
            <span class="padding-right-3" ng-bind="'Cancel'| translate"></span>
        </button>
    </div>
</div>
