<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title es-title"><span class="fa fa-close"></span>{{'Edit'| translate }}</h3>
    </div>
    <div class="panel-body">
        <form name="ReginalPowerCorpForm" method="post">
            <div es-ng-validationsummary="errors">
            </div>
            <input type="hidden" ng-model="delete.ds.$data.reginalPowerCorpId" />
       
            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'Name'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.title"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>


            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'Manager'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.manager"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'ManagerMobile'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.managerMobile"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'Tel'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.tel"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'Fax'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.fax"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'Mail'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.mail"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'MainAddress'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.mainAddress"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'SubAddress'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.subAddress"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'RegisterCode'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.registerCode"></span>
            </div>
            <div class="clearfix  visible-md-block visible-lg-block"></div>

            <div class="form-group col-md-4">
                <label class="control-label" ng-bind="'Description'| translate"></label>
                <span class="form-control" ng-bind="delete.ds.$data.description"></span>
            </div>



            <div class="clearfix"></div>
            <p class="text-danger" ng-bind="'DeleteComfirmation'| translate"></p>
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary"
                es-ng-post
                post-object="delete.ds.$data"
                es-ng-post-form-name="ReginalPowerCorpForm"
                es-ng-post-validation-object="errors"
                es-ng-post-disable-object="ReginalPowerCorpForm.$invalid"
                es-ng-post-url="/ReginalPowerCorp/Delete"
                es-ng-post-success="root.success()"
                es-ng-post-error="root.error()">
            <i class="fa fa-check-circle"></i>
            <span class="padding-right-3" ng-bind="'Ok'| translate"></span>
        </button>
        <button class="btn btn-default" ui-sref="ReginalPowerCorp.List">
            <i class="fa fa-times-circle"></i>
            <span class="padding-right-3" ng-bind="'Cancel'| translate"></span>
        </button>
    </div>
</div>