
<div class="container-fluid">
    <div class="panel">
        <div class="panel-body">
            
           
            </div>
            <!--<div class="panel-body">
        <a href="/ProductNavigation">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'FormFlowSamples' | translate"></label>
        </a>
    </div>

    <div class="panel-body">
        <a href="/ReginalPowerCorp">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'ReginalPowerCorp' | translate"></label>
        </a>
    </div>

    <div class="panel-body">
        <a href="/EducationalLevel">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'EducationalLevel' | translate"></label>
        </a>
    </div>


    <div class="panel-body">
        <a href="/RoleOrg">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'RoleOrg' | translate"></label>
        </a>
    </div>


    <div class="panel-body">
        <a href="/Person">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'Person' | translate"></label>
        </a>
    </div>

    <div class="panel-body">
        <a href="/ExternalOrgType">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'ExternalOrgType' | translate"></label>
        </a>
    </div>

    <div class="panel-body">
        <a href="/ExternalOrganization">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'ExternalOrganization' | translate"></label>
        </a>
    </div>


    <div class="panel-body">
        <a href="/OUTree">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'OUTree' | translate"></label>
        </a>
    </div>

    <div class="panel-body">
        <a href="/ProjectTree">
            <img src="/app/home/img/ux-demo-icon.svg" alt="Alternate Text" />
            <label ng-bind="'ProjectTree' | translate"></label>
        </a>
    </div>-->

        </div>
</div>
